/* Description:  常用颜色变量设置 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/15 */

// 白色 rgb(225, 225, 225)
color-white = #ffffff

// 黑色 rgb(0, 0, 0)
color-black = #000000

// 灰色 rgb(192, 192, 192)
color-grey = #c0c0c0

// 灰色细线 rgb(225, 225, 225)
color-line = #E1E1E1

// 橙色 rgb(255, 127, 0)
color-orange = #FF7F00

// 红色 rgb(225, 0, 0)
colo-red = #ff0000

