/* 常用字体库设置 */
font-Set = font .14rem/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

/* 字体大小设置 */
font-12 = .12rem
font-13 = .13rem
font-14 = .14rem
font-15 = .15rem
font-16 = .16rem
font-18 = .18rem
font-20 = .2rem
