/* 清除默认样式，设置公共样式 */
/* author: daijun<zijun2030@gmail.com> */
/* time: 20180314 */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
dl, dt, dd, ul, ol, li, th, td, div, span, img,
fieldset, lengend, button, input, select, textarea,
  margin 0
  padding 0

/* color & background */
html,body
  color color-white
  background color-black
  min-height 100%


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: .6rem;
  font-size: .14rem;
}
