/* Description: 清除默认样式，设置公共样式 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/15 */
/*
* 公共样式
* 单行省略, 多行省略.ellipse()
* 全局icon-font svg字体大小设置
* 0.5px 细线
* flex layout
*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
dl, dt, dd, ul, ol, li, th, td, div, span, img,
fieldset, lengend, button, input, select, textarea
  margin 0
  padding 0

/* color & font & background */
html, body, #app
  height 100%

body, button, input, select, textarea
  font font-14/1.5 font-Set

body
  min-width 2.8rem
  color color-black
  background color-white
  #app
    position relative
    min-height 100%
    box-sizing border-box


/* h1 ~ h6 */
h1, h2, h3, h4, h5, h6
  font-weight normal
h1
  font-size font-20
h2
  font-size font-18
h3
  font-size font-16
h4,h5,h6
  font-size 100%

/* a */
a
  text-decoration none;
  color #232323;

/* list */
ul, ol
  list-style none

/* img */
img
  border none
  vertical-align middle

/* table */
table
  border-collapse collapse
  border-spacing 0
  table-layout fixed

/* input & textArea */
input, textarea
  outline none
  border none

textarea
  resize none
  overflow auto

/* normalize css */

/* 单行省略, 多行省略.ellipse() */
.ellipse
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

/* 全局icon-font svg字体大小设置 */
svg.icon
  width 1em;
  height 1em
  vertical-align: -0.15em
  fill currentColor
  overflow hidden

/* 0.5px 细线 */
/* 移动端0.5px的实现基础样式 */
.scale-border-base
  position relative
  margin 0 auto
  height 100%
  width  100%
  &::after
    content: '';
    transform:scale(0.5);
    position:absolute;
    top:-50%;
    right:-50%;
    bottom:-50%;
    left:-50%;

/* 移动端0.5px的四周边框实现 */
.scale-border
  @extend .scale-border-base
  &::after
    border 1px solid color-base
    border-radius 5px
    background-color color-base

/* 移动端0.5px的上边框实现 */
.scale-border-top
  @extend .scale-border-base
  &::after
    border-top 1px solid color-line

/* 移动端0.5px的下边框实现 */
.scale-border-bottom
  @extend .scale-border-base
  &::after
    border-bottom 1px solid color-line

img[lazy=loading]
  padding .2rem 0
  width 48.3%
  height .9rem
img[lazy=error]
  width 48.3%
  height .9rem
img[lazy=loaded]
  width 100%
  height 100%
/* flex layout */
.flex
  display flex

/* 主轴横向排布 */
.flex-row
  @extend .flex
  flex-direction row

/* 主轴纵向排布 */
.flex-column
  @extend .flex
  flex-direction column

/* 主轴横向排布，内容横向(水平)居中 */
.flex-row-row-center
  @extend .flex-row
  justify-content center

/* 主轴横向排布，内容两端对齐 */
.flex-row-between
  @extend .flex-row
  justify-content space-between

/* 主轴横向排布，内容纵向（垂直）居中 */
.flex-row-column-center
  @extend .flex-row
  align-items center

/* 主轴纵轴排列，内容纵向（垂直）居中 */
.flex-column-column-center
  @extend .flex-column
  justify-content center

/* 主轴纵轴排列，内容纵向（垂直）居中 */
.flex-column-between
  @extend .flex-column
  justify-content space-between

/* 主轴纵轴排列，内容横向（水平）居中 */
.flex-column-row-center
  @extend .flex-column
  align-items center

/* 主轴横向排列，内容横向（水平）和纵向（垂直）同时居中 */
.flex-center
  @extend .flex-row-row-center
  align-items center
