/* Description: 常用全局样式方法设置 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/15 */

/* 多行省略,默认2行省略 */
ellipse(row = 2)
  overflow hidden
  text-overflow ellipsis
  word-break normal
  display -webkit-box
  -webkit-line-clamp row
  -webkit-box-orient vertical


/* 模糊效果 */
blur-tool(blur = 2px)
  -webkit-filter blur(blur)
  -moz-filter blur(blur)
  -o-filter blur(blur)
  -ms-filter blur(blur)
  filter blur(blur)

/* 移动端0.5px的实现基础样式 */
.scale-border-base
  position relative
  &::after
    content ''
    display block
    position absolute
    left -50%
    width 200%
    height 200%
    transform scale(0.5)

/* 移动端0.5px的四周边框实现 */
scale-border(colorVal = color-base, radiusVal = 5px, bgColorVal = color-base)
  @extend .scale-border-base
  &::after
    border 1px solid colorVal
    border-radius radiusVal
    //background-color bgColorVal

