/* Description: 常用全局样式方法设置 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/15 */

/* 多行省略,默认2行省略 */
ellipse(row = 2)
  overflow hidden
  text-overflow ellipsis
  word-break normal
  display -webkit-box
  -webkit-line-clamp row
  -webkit-box-orient vertical


/* 模糊效果 */
blur-tool(blur = 2px)
  -webkit-filter blur(blur)
  -moz-filter blur(blur)
  -o-filter blur(blur)
  -ms-filter blur(blur)
  filter blur(blur)

/**
* 移动端0.5px的四周边框实现， 基础样式和class样式可见layout.styl中
*
* colorVal 四周边框颜色
* radiusVal 四周边框圆角
* bgColorVal 按钮内北京颜色
*/
scale-border(colorVal = color-base, radiusVal = radius-base, bgColorVal = color-base)
  @extend .scale-border-base
  &::after
    border 1px solid colorVal
    border-radius radiusVal
    background-color bgColorVal

/**
* 移动端0.5px的上边框实现
*
* colorVal 上边框颜色
*/
scale-border-top(colorVal = color-line)
  @extend .scale-border-base
  &::after
    border-top 1px solid colorVal

/**
* 移动端0.5px的下边框实现
*
* colorVal 下边框颜色
*/
scale-border-bottom(colorVal = color-line)
  @extend .scale-border-base
  &::after
    border-bottom 1px solid colorVal

/**
 * 阴影效果 shadows
 */
/* 盒子下阴影 */
shadow-bottom()
  box-shadow 0 .03rem .05rem -.01rem rgba(0,0,0,.2), 0 .05rem .08rem rgba(0,0,0,.14), 0 .01rem .14rem rgba(0,0,0,.12);
/* 盒子上阴影 */
shadow-top()
  box-shadow 0 .03rem .05rem -.01rem rgba(0,0,0,.2), 0 -.05rem .08rem rgba(0,0,0,.14), 0 -01rem .14rem rgba(0,0,0,.12);
