.views-error
  height 100%
  color color-font-9
  .iconfont
    font-size .96rem
    line-height .96rem
  .views-error-txt
    margin-top .16rem
  .views-error-button
    width 1.86rem
    height .36rem
    margin-top .16rem




