/* Description: 404错误页面样式 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/27 */

.views-error
  height 100%
  color color-font-9

  .err-icon
    font-size .96rem
    line-height .96rem

  .views-error-txt
    margin-top .16rem

  .views-error-button
    width 1.86rem
    height .36rem
    margin-top .16rem

  .test
    height 2rem
    width 2rem
    background-color rebeccapurple




