/* Description: 测试test样式 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/27 */

.views-test
  position
  width 100%
  .test-box
    margin-left .6rem
    width 3rem
    height 1.5rem
    background-color burlywood
    shadow-bottom()
  ul, li
    width 100%
    height 2.5rem
  .wrapper
    position relative
    height 100%
    overflow hidden

