/* Description: 全局按钮组件样式 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/25 */

.global-z-button
  width 100%
  height 100%
  .global-z-button-common
    p
      position relative
      z-index 10
      color color-white
  // 颜色加深效果
  .darken
    scale-border()
  &:active
    scale-border(darken(color-base, 30%), radius-base, darken(color-base, 30%))
  // 点击有颜色效果
  .appearance
    scale-border(color-base, radius-base, color-white)
    p
      color color-base
  &:active
    scale-border(color-base, radius-base, color-base)
    p
      color color-white
  // 点击涟漪效果
  .v-touch-ripple
    width 100%
    height 100%
    .ripple
      scale-border()
