/* Description: 全局加载样式 */
/* Author: daijun<zijun2030@gmail.com> */
/* Time: 2018/3/24 */

.global-z-loading
  position absolute
  z-index 10
  width 100%
  height 100%
  .z-loading-icon
    color color-base
  .z-loading-txt
    margin-top .16rem
    padding 0 .4rem
    font-size .16rem
    color color-white



